body {
  background-image: url(./media/weather_bg.png);
  background-position: center top;
  background-size: 1050px 790px;

}

.user {
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-right: 250px;
}