body {
  background-image: url(./media/weather_bg.png);
  background-position: center top;
  background-size: 1050px 790px;
  font-family: garamond, "Book Antiqua", "Zapf Chancery", "papyrus", "Times New Roman";
}

.user {
  display: flex;
  justify-content: center;
  gap: 0.3em;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 180px;
  padding-right: 250px;
  font-size: large;
}

input, button {
  font-family: garamond, "Book Antiqua", "Zapf Chancery", "papyrus", "Times New Roman";
  font-size: larger;
  border-radius: 7px;
}

.big {
  font-size: xx-large;
}

#country {
  font-size: x-small;
}

button {
  background-color: rgb(164, 90, 38);
  cursor: pointer;
  color: wheat;
}

button:hover{
  background-color: grey;
}
